* {
    box-sizing: border-box;
}

body {
    font-family: 'OpenSans', sans-serif;
    color: var(--color-text);
    font-size: var(--size-text);
    line-height: 24px;
    background-color: gray;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0px 15px;
}

.reset-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.reset-input {
    border: none;
    background: transparent;
    outline: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.btn-hover {
    transition: color .3s ease-in-out;
}

.btn-hover:hover {
    color: var(--color-hover);
    transition: .3s ease-in-out;
}

.btn-focus:focus {
    outline: none;
    background-color: #7943A4;
    transition: .3s ease-in-out;
}

.btn-active:active {
    background-color: inherit;
    color: var(--color-active);
    transition: .3s ease-in-out;
}

:root {
    --color-text: #FFFFFF;
    --color-hover: #C283F3;
    --color-active: #7943A4;
    --size-text: 18px;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
}

/* Header-top */

.header__top {
    width: 100%;
    background-color: #000000;
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    min-height: 100px;
}

.logo {
    flex-grow: 1;
    padding-top: 2px;
    margin-right: auto;
}

.nav-menu  {
    flex-grow: 2;
    margin-right: auto;
}

.nav-menu__list {
    display: flex;
    margin: 0;
    font-weight: 600;
}

.nav-menu__item:not(:last-child) {
    margin-right: 62px;
}

.enter-link {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.enter-link__svg {
    margin-right: 6px;
    fill: white;
    transition: fill .3s ease-in-out;
}

.enter-link:hover .enter-link__svg {
    fill: #C283F3;
    transition: .3s ease-in-out;
}

.enter-link:active .enter-link__svg {
    fill: #9D5CD0;
    transition: .3s ease-in-out;
}

.header__bottom {
    background-color: #00000066;
}

.container-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 9px;
    min-height: 70px;
}

.bottom-list__item:not(:last-child) {
    margin-right: 79px;
}

.bottom-list__btn {
    display: flex;
    align-items: center;
    margin-right: 9px;
    padding-left: 4px;
    font-weight: 400;
}

.bottom-list__btn {
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

.bottom-list__svg-wrapper {
    padding-left: 3px;
}

.bottom-list__svg {
    stroke: white;
    transition: stroke .3s ease-in-out;
}

.bottom-list__btn:hover {
    color: #9D5CD0;
}

.bottom-list__btn:active {
    color: #7943A4;
}

.bottom-list__btn:hover .bottom-list__svg {
    stroke: #9D5CD0;
    transition: .3s ease-in-out;
}

.bottom-list__btn:focus:not(:focus-visible),
.bottom-list__btn:focus-visible,
.bottom-list__btn.active--btn .bottom-list__svg {
  background-color: inherit;
  color: #7943A4;
  stroke: #7943A4;
}

.bottom-list__btn:focus {
    background-color: #7943A4;
    color: var(--color-text);
}

.bottom-list__svg {
    transition: transform .3s ease-in-out, stroke .3s ease-in-out;
}

.active--btn .bottom-list__svg {
    transform: rotate(180deg);
}

/* Submenu */

.bottom-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .container-dropdown {
    position: absolute;
    display: none;
    top: 46px;
    left: 5%;
    width: 300px;
    height: 300px;
    background-color: #00000099;
  }

  .submenu-second {
      left: -2%;
  }

  .submenu-third {
      left: -5%;
  }

  .submenu-fourth {
      left: -4%;
  }

  .container-dropdown-list {
      width: 262px;
      padding-top: 37px;
      padding-bottom: 40px;
  }

  .container-dropdown-list__item:last-child {
    border: 0;
  }
  
  .active-list--item {
    display: block;
  }

  .bottom-list__item {
    position: relative;
  }
  
  .bottom-list__btn:focus-visible {
    outline: 0;
  }

  .bottom-list__btn.active--btn:after {
    content: "";
    position: absolute; 
  }
  
  @keyframes anim {
    0% {
      transform: scaleX(0)  translateX(-50%);
      opacity: 0;
    }
    50% {
      transform: scaleX(1) translateX(0%);
      opacity: 1;
    }
    100% {
      transform: scaleX(0) translateX(50%);
      opacity: 0;
    }
  }

.bottom-list__submenu-third {
    left: -5%;
}

.bottom-list__submenu-fourth {
    left: -3%;
    padding-top: 41px;
}

.submenu__item {
    position: relative;
    margin-bottom: 16px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: border-color .3s ease-in-out;
}

.submenu__item:hover {
    border-color: #9D5CD0;
    transition: border-color .3s ease-in-out;
}

.simplebar-track.simplebar-vertical {
    width: 2px;
    height: 220px;
    top: 40px;
    left: 280px;
    background-color: #000000;
}

.simplebar-scrollbar {
    width: 3px;
    background-color: #FFFFFF;
  }

.submenu__link {
    display: block;
    height: 40px;
    padding: 7px;
    padding-left: 11px;
    border: 2px solid transparent;
}

.submenu__link:active {
    background: #C283F366;
}

.submenu__link:focus {
    outline: none;
    border-color: #9D5CD0;
}

/* Submenu-first bg */

.submenu__first-item-bg-1 {
    background-image: url(../img/submenu-item-one.png);
    background-repeat: no-repeat;
}

.submenu__first-item-bg-2 {
    background-image: url(../img/submenu-item-one-bg-2.png);
    background-repeat: no-repeat;
}

.submenu__first-item-bg-3 {
    background-image: url(../img/submenu-item-one-bg-3.png);
    background-repeat: no-repeat;
}

.submenu__first-item-bg-4 {
    background-image: url(../img/submenu-item-one-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-second bg */

.submenu__second-item-bg-1 {
    background-image: url(../img/submenu-item-two-bg-1.png);
    background-repeat: no-repeat;
}

.submenu__second-item-bg-2 {
    background-image: url(../img/submenu-item-two-bg-2.png);
    background-repeat: no-repeat;
}

.submenu__second-item-bg-3 {
    background-image: url(../img/submenu-item-two-bg-3.png);
    background-repeat: no-repeat;
}

.submenu__second-item-bg-4 {
    background-image: url(../img/submenu-item-two-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-third bg */

.submenu__third-item-bg-1 {
    background-image: url(../img/submenu-item-three-bg-1.png);
    background-repeat: no-repeat;
}

.submenu__third-item-bg-2 {
    background-image: url(../img/submenu-item-three-bg-2.png);
    background-repeat: no-repeat;
}

.submenu__third-item-bg-3 {
    background-image: url(../img/submenu-item-three-bg-3.png);
    background-repeat: no-repeat;
}

.submenu__third-item-bg-4 {
    background-image: url(../img/submenu-item-three-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-fourth bg */

.submenu__fourth-item-bg-1 {
    background-image: url(../img/submenu-item-four-bg-1.png);
    background-repeat: no-repeat;
}

.submenu__fourth-item-bg-2{
    background-image: url(../img/submenu-item-four-bg-2.png);
    background-repeat: no-repeat;
}

.submenu__fourth-item-bg-3 {
    background-image: url(../img/submenu-item-four-bg-3.png);
    background-repeat: no-repeat;
}

.submenu__fourth-item-bg-4 {
    background-image: url(../img/submenu-item-four-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-fifth bg */

.submenu__fifth-item-bg-1 {
    background-image: url(../img/submenu-item-five-bg-1.png);
    background-repeat: no-repeat;
}

.submenu__fifth-item-bg-2 {
    background-image: url(../img/submenu-item-five-bg-2.png);
    background-repeat: no-repeat;
}

.submenu__fifth-item-bg-3 {
    background-image: url(../img/submenu-item-five-bg-3.png);
    background-repeat: no-repeat;
}

.submenu__fifth-item-bg-4 {
    background-image: url(../img/submenu-item-five-bg-4.png);
    background-repeat: no-repeat;
}

.bottom-list__btn--active {
    color: var(--color-active);
}

.submenu--active {
    display: block;
}


/* Search */

.header__search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 3px;
    padding-left: 301px;
}

.header__search-btn {
    width: 22px;
    height: 22px;
    margin-right: 9px;
    background-image: url(../img/search-img.svg);
    background-repeat: no-repeat;
}

.header__search-input {
    padding: 0;
    min-width: 218px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFFD9;
    transition: border-color .3s ease-in-out;
}

.header__search-input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFFD9;
}

:focus::-webkit-input-placeholder { 
    color:transparent; 
}

:focus::-moz-placeholder { 
    color:transparent; 
}

:focus::placeholder { 
    color:transparent; 
}

.header__search-input:hover {
    border-bottom: 1px solid #C283F3;
    transition: .3s ease-in-out;
}

.header__search-input:focus {
    border-bottom: 1px solid #7943A4;
    transition: .3s ease-in-out;
}