body {
    font-family: 'OpenSans', sans-serif;
    color: var(--color-text);
    font-size: var(--size-text);
    background-color: gray;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1625px;
    margin: 0 auto;
}

.reset_btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.reset_input {
    border: none;
    background: transparent;
    outline: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.btn-hover:hover {
    color: #C283F3;
}

.btn-focus:focus {
    outline: none;
    background-color: #7943A4;
}

.btn-active:active {
    background-color: inherit;
    color: #9D5CD0;
}

:root {
    --color-text: #FFFFFF;
    --size-text: 18px;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
}

.header__top__bg-top {
    width: 100%;
    background-color: #000000;
}

.header__container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 41px;
    min-height: 100px;
}

.header__logo {
    margin-right: 179px;
}

.nav__menu  {
    flex-grow: 1;
    margin-right: 254px;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-weight: 600;
}

.nav__item:not(:last-child) {
    margin-right: 61.4px;
}

.header-enter {
    flex-grow: 1;
}

.header-enter__link {
    background: url(../img/enter-img.svg) no-repeat 0 5px;
    padding-left: 22px;
}

.header-enter__link:hover {
    background: url(../img/enter-img-hover.svg) no-repeat 0 5px;
}

.header-enter__link:active {
    background: url(../img/enter-img-active.svg) no-repeat 0 5px;
}

.header__bottom__bg-bottom {
    background-color: #00000066;
}

.header__container-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 26px;
    min-height: 70px;
}

.header__bottom__list {
    display: flex;
    margin: 0;
    margin-right: 225px;
    padding: 0;
}

.header__bottom__item {
    position: relative;
    margin-right: 93.2px;
}

.header__bottom_btn {
    font-weight: 600;
}

/* Submenu */

.submenu {
    display: none;
    position: absolute;
    width: 260px;
    height: 175px;
    top: 46px;
    left: 0%;
    padding: 0;
    padding-top: 41px;
    padding-left: 39px;
    background-color: #00000099;
}

.submenu__item {
    width: 230px;
    height: 40px;
    margin-bottom: 11px;
    padding: 0;
    padding-top: 9px;
    font-size: 14.6px;
    font-weight: 600;   
}

.simplebar-scrollbar {
    left: 0px;
    width: 3px;
}

.simplebar-track {
    left: 92.8%;
}

.simplebar-scrollbar {
    background-color: #FFFFFF;
  }

.simplebar-track {
    width: 3px !important;
    background-color: #000000;
}

.submenu__link {
    padding-left: 14px;
}

/* Submenu-one bg */

.submenu-one__bg-1 {
    background-image: url(../img/submenu-item-one.png);
    background-repeat: no-repeat;
}

.submenu-one__bg-2 {
    background-image: url(../img/submenu-item-one-bg-2.png);
    background-repeat: no-repeat;
}

.submenu-one__bg-3 {
    background-image: url(../img/submenu-item-one-bg-3.png);
    background-repeat: no-repeat;
}

.submenu-one__bg-4 {
    background-image: url(../img/submenu-item-one-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-two bg */

.submenu-two__bg-1 {
    background-image: url(../img/submenu-item-two-bg-1.png);
    background-repeat: no-repeat;
}

.submenu-two__bg-2 {
    background-image: url(../img/submenu-item-two-bg-2.png);
    background-repeat: no-repeat;
}

.submenu-two__bg-3 {
    background-image: url(../img/submenu-item-two-bg-3.png);
    background-repeat: no-repeat;
}

.submenu-two__bg-4 {
    background-image: url(../img/submenu-item-two-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-three bg */

.submenu-three__bg-1 {
    background-image: url(../img/submenu-item-three-bg-1.png);
    background-repeat: no-repeat;
}

.submenu-three__bg-2 {
    background-image: url(../img/submenu-item-three-bg-2.png);
    background-repeat: no-repeat;
}

.submenu-three__bg-3 {
    background-image: url(../img/submenu-item-three-bg-3.png);
    background-repeat: no-repeat;
}

.submenu-three__bg-4 {
    background-image: url(../img/submenu-item-three-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-four bg */

.submenu-four__bg-1 {
    background-image: url(../img/submenu-item-four-bg-1.png);
    background-repeat: no-repeat;
}

.submenu-four__bg-2 {
    background-image: url(../img/submenu-item-four-bg-2.png);
    background-repeat: no-repeat;
}

.submenu-four__bg-3 {
    background-image: url(../img/submenu-item-four-bg-3.png);
    background-repeat: no-repeat;
}

.submenu-four__bg-4 {
    background-image: url(../img/submenu-item-four-bg-4.png);
    background-repeat: no-repeat;
}

/* Submenu-five bg */

.submenu-five__bg-1 {
    background-image: url(../img/submenu-item-five-bg-1.png);
    background-repeat: no-repeat;
}

.submenu-five__bg-2 {
    background-image: url(../img/submenu-item-five-bg-2.png);
    background-repeat: no-repeat;
}

.submenu-five__bg-3 {
    background-image: url(../img/submenu-item-five-bg-3.png);
    background-repeat: no-repeat;
}

.submenu-five__bg-4 {
    background-image: url(../img/submenu-item-five-bg-4.png);
    background-repeat: no-repeat;
}

.header__bottom_btn:focus + .submenu {
    display: block;
}

/* Search */

.header__bottom_search {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
}

.search__btn {
    width: 22px;
    height: 22px;
    margin-right: 9px;
    background-image: url(../img/search-img.svg);
    background-repeat: no-repeat;
}

.search__input {
    padding: 0;
    min-width: 218px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFFD9;
}

.search__input::placeholder {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFFD9;
}

:focus::-webkit-input-placeholder { 
    color:transparent; 
}

:focus::-moz-placeholder { 
    color:transparent; 
}

:focus::placeholder { 
    color:transparent; 
}

.search__input:hover {
    border-bottom: 1px solid #C283F3;
}

.search__input:focus {
    border-bottom: 1px solid #7943A4;
}

.header__bottom_btn {
    background: url(../img/arrow-header.svg) no-repeat 100% 5px;
    padding-right: 14px;
    background-position: 100%;
}

.header__bottom_btn:hover {
    color: #9D5CD0;
    background: url(../img/arrow-header-hover.svg) no-repeat 100% 5px;
}

.header__bottom_btn:active {
    color: #7943A4;
    background: url(../img/arrow-header-active.svg) no-repeat 100% 5px;
    background-position: 100% 8px;
}